# Ignore virtual environments  
churn_env/  
venv/  

# Ignore system logs and temporary files  
logs/  
*.log  
api_logs.log  
exporting  
auth  
internal  

# Ignore environment files (API keys, secrets)  
.env  

# Ignore compiled Python files  
*.pyc  
__pycache__/  

# Ignore Jupyter Notebook checkpoints  
.ipynb_checkpoints/  

# Ignore React dashboard dependencies and build artifacts  
dashboard-react/node_modules/  
dashboard-react/build/
