# Ignore environment files
churn_env/
*.env

# Ignore logs
logs/
*.log

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependencies
venv/
*.egg-info/
*.whl

# Ignore data and model files (optional)
data/output/
!data/output/*.png   # Allow images
!data/output/*.jpg   # Allow JPEGs
!data/output/.gitkeep  # Allow a placeholder file
*.pkl
*.json

# Ignore Azure deployment settings
deployment/.azure/
